/* CONTENEDOR DEL BANNER */
.new-collection {
    padding: var(--gap-lg) var(--container-padding);
    /* Mantiene los márgenes laterales de tu web */
    background: var(--bg);
}
/* El contenedor del banner con la imagen de fondo */
.banner-container {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    min-height: 75vh;
    border-radius: var(--radius-lg);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../../assets/banner_2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    z-index: 1;
}

/* Capa oscura sobre la imagen para mejorar la legibilidad del texto */
.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    /* Oscurece un poquito la foto */
    z-index: 2;
}

/* TEXTO SOBRE LA IMAGEN */
.banner-content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: white;
    padding: 20px;
    max-width: 600px;
}

/* Título grande sobre la imagen */
.banner-content h2 {
    font-family: var(--ff-heading);
    /* Playfair Display */
    font-size: 2.8rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

/* Descripción debajo del título */
.banner-content p {
    font-size: 1.40rem;
    margin-bottom: 30px;
    font-weight: 300;
}

/* BOTÓN ELEGANTE */
.btn-lujo {
    background: white;
    color: var(--text);
    border: none;
    padding: 15px 40px;
    border-radius: var(--radius-md);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}
/* Efecto hover para el botón */
.btn-lujo:hover {
    background: var(--accent);
    color: rgb(174, 31, 160);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(201, 160, 220, 0.4);
}
/* Estilos para la sección de productos destacados */
.products {
    padding-top: 70px;
    text-align: center;
}
/* Título de la sección de productos */
.products h2 {
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
    
}
