/* ========================================
   CATEGORY HERO
======================================== */

.category-hero {

    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda */
    text-align: left;
    /* Alinea el texto a la izquierda */
    padding-left: 4%;
    /* Agrega un poco de espacio a la izquierda */

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}

/* ========================================
   HERO ARETES
======================================== */

.category-hero-aretes {

    background-image: url("../../assets/banner_aretes2.png");
}

/* ========================================
   HERO COLLARES
======================================== */

.category-hero-collares {

    background-image: url("../../assets/banner_collares2.png");
}

/* ========================================
   HERO ANILLOS
======================================== */

.category-hero-anillos {

    background-image: url("../../assets/banner_anillos2.png");
}

/* ========================================
   HERO PULSERAS
======================================== */

.category-hero-pulseras {

    background-image: url("../../assets/banner_pulseras2.png");
}


/* ========================================
   OVERLAY
======================================== */

.category-hero-overlay {
    display: none;
}

/* ========================================
   CONTENT
======================================== */

.category-hero-content {

    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
    padding: 20px;
}

.category-hero-content h1 {

    font-size: clamp(45px, 7vw, 90px);
    /* Ajusta el tamaño del texto según el ancho de la pantalla*/
    font-family: var(--ff-heading);
    margin-bottom: 20px;
    color: #000000;
    text-shadow: 0 4px 25px rgba(0, 0, 0, 0.75);
}

/* ========================================
   TEXT
======================================== */

.category-hero-content p {

    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 30px;

    color: #111;

    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block
}

/* ========================================
   BUTTON
======================================== */

.hero-btn {

    display: inline-block;

    padding: 14px 30px;

    background: white;

    color: black;

    text-decoration: none;

    border-radius: 999px;

    font-weight: 600;

    transition: 0.3s ease;
}

.hero-btn:hover {

    transform: translateY(-3px);

    background: #f3e7ff;
}

/* ========================================
   MOBILE
======================================== */
@media (max-width: 768px) {

    .category-hero {

        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
        padding: 0 20px;
    }

    .category-hero-content {

        padding: 0;
        max-width: 100%;
    }

    .category-hero-content h1 {

        font-size: 42px;
        margin-bottom: 10px;
    }

    .category-hero-content p {

        font-size: 15px;
        margin-bottom: 18px;
        line-height: 1.5;
    }

    .hero-btn {

        padding: 12px 24px;
        font-size: 14px;
        max-width: 100%;
    }
}