:root {

    --bg:#fffafc;; /* Fondo general */
    --accent: #d2b3f6;/* Color de acento para enlaces y elementos interactivos */
    --muted: #694242;/* Color para texto secundario o menos importante */
    --text: #272525;/* Color para texto principal */
    --card-bg: #ffffff;/* Fondo para tarjetas o secciones destacadas */

    --radius-lg: 35px;
    --radius-md: 14px;

    --gap-lg: 60px;
    --container-padding: 8%;
    --max-width: 1200px;

    --ff-body: 'Inter', system-ui, -apple-system,
        'Segoe UI', Roboto, Arial, sans-serif;

    --ff-heading: 'Playfair Display',
        Georgia, serif;

    --transition: 0.3s;
}